@import './../styles/transitions';

$tablet: 768px;
$color-gray: rgba(0, 0, 0, 0.2);
$border-normal: 1px solid $color-gray;
$border: 1px solid #e4e7e7;
$transition-time: 0.3s;

*,
*:after,
*:before {
  box-sizing: border-box;
}

.datepicker-trigger {
  position: relative;
  overflow: visible;
}

.datepicker-wrapper {
  border: $border-normal;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  background-color: white;

  &.full-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    z-index: 100;
  }
}
.datepicker-inner-wrapper {
  transition: all $transition-time ease;
  position: relative;
}
.datepicker-header {
  position: relative;
}
.change-month-button {
  position: absolute;
  top: 12px;
  z-index: 10;
  background: white;
  &.previous {
    left: 0;
    padding-left: 15px;
  }
  &.next {
    right: 0;
    padding-right: 15px;
  }

  button {
    background-color: white;
    border: 1px solid #e4e7e7;
    border-radius: 3px;
    padding: 4px 8px;

    &:hover {
      border: 1px solid #c4c4c4;
    }
  }

  svg {
    height: 19px;
    width: 19px;
    fill: #82888a;
  }
}
.days-legend {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 0 10px;
}
.day-title {
  display: inline-block;
  width: percentage(1/7);
  text-align: center;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8em;
  margin-left: -1px;
  text-transform: lowercase;
}

.month-table {
  border-collapse: collapse;
  border-spacing: 0;
  background: white;
  width: 100%;
}

.month {
  transition: all $transition-time ease;
  display: inline-block;
  padding: 15px;
}
.month-name {
  font-size: 1.3em;
  text-align: center;
  margin: 0 0 30px;
  line-height: 1.4em;
  text-transform: lowercase;
  font-weight: bold;
}

.day {
  $size: 38px;
  line-height: $size;
  height: $size;
  padding: 0;

  &.selected,
  &.in-range {
    font-weight: bold;
  }
  &.enabled {
    border: 1px solid #e4e7e7;
  }
  &.disabled,
  &.empty {
    opacity: 0.5;
  }
  &.empty {
    border: none;
  }
}
.day-button {
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  color: inherit;
  text-align: center;
  user-select: none;
  font-size: 15px;
  font-weight: inherit;
}

.action-buttons {
  button {
    display: block;
    position: relative;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 15px;

    @media (min-width: $tablet) {
      position: absolute;
      bottom: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
    &:nth-child(1) {
      float: left;
      left: 15px;
      @media (min-width: $tablet) {
        float: none;
      }
    }
    &:nth-child(2) {
      float: right;
      right: 15px;
      @media (min-width: $tablet) {
        float: none;
      }
    }
  }
}

.mobile-header {
  border-bottom: $border-normal;
  position: relative;
  padding: 15px 15px 15px 15px !important;
  text-align: center;
  height: 50px;
  h3 {
    font-size: 20px;
    margin: 0;
  }
}
.mobile-only {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }
}
.mobile-close {
  position: absolute;
  top: 7px;
  right: 5px;
  padding: 5px;
  z-index: 100;
  cursor: pointer;
  .icon {
    position: relative;
    font-size: 1.6em;
    font-weight: bold;
    padding: 0;
  }
}
